public/
node_modules/
package.json
package-lock.json
tsconfig.json
.eslintrc.json
.prettierrc
README.md
CHANGELOG.md
src/index.css
vite.config.d.ts
vite.config.js
.eslintrc.js
overrides-mui.d.ts
build/*
postcss.config.js
tsconfig.tsbuildinfo
.github/*
tailwind.config.js
index.html
src/assets/images/*
src/assets/fonts/*
vite.config.ts
.prettierignore
index.css
DockerFile