public/
node_modules/*
package.json
package-lock.json
tsconfig.json
.eslintrc.json
.prettierrc
README.md
CHANGELOG.md
tsconfig.node.tsbuildinfo
yarn.lock
vite.config.ts
vite.config.d.ts'
vite.config.d.ts
vite.config.js
.husky/*
tsconfig.node.json
.prettierrc
.gitignore
src/index.css
.eslintrc.cjs
src/config/config.json
build/*
azure-pipelines.yml
tsconfig.tsbuildinfo
.github/*
.eslintignore
tailwind.config.js
index.html
src/assets/images/*
src/assets/fonts/*
.prettierignore
index.css
Dockerfile
nginx.conf